<div class="container">
    <h2>Edit employees</h2>
    
<div class="row">
    <div class="col-6">
        <form #form="ngForm" (ngSubmit)="updateEmployee()">
            <div class="mb-2">
                <label for="employeeId" class="form-label">ID</label>
                <input type="text" class="form-control" id="employeeId" readonly
                name="employeeId" [(ngModel)]="employeeDetails.employeeId">
             </div>
             <div class="mb-2">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name"
                name="name" [(ngModel)]="employeeDetails.name">
             </div>
             <div class="mb-2">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" id="email"
                name="email" [(ngModel)]="employeeDetails.email">
             </div>
             <div class="mb-2">
                <label for="phone" class="form-label">Phone</label>
                <input type="number" class="form-control" id="phone"
                name="phone" [(ngModel)]="employeeDetails.phone">
             </div>
    
             <button type="submit" class="btn btn-primary ml-3">Save</button>
             <a class="btn btn-secondary" routerLink="/employees">Cancel</a>
        </form>
    </div>
</div>
    
</div>
